/* Стиль css для обучающего сайта по Unity */

/* Общие свойства для всей страницы */
body {
    /* Цвет фона */
    background-color: #F0F0F0;
    /* Шрифт текста */
    font-family: Arial, sans-serif;
    /* Размер шрифта */
    font-size: 16px;
    /* Цвет текста */
    color: #333333;
    /* Отступы от краев */
    margin: 20px;
}

/* Свойства для заголовков */
h1,
h2 {
    /* Цвет заголовков */
    color: #0066CC;
    /* Выравнивание по центру */
    text-align: center;
}

/* Свойства для списков */
ul {
    /* Маркеры для элементов списка */
    list-style-type: circle;
    /* Отступ слева */
    padding-left: 40px;
}

/* Свойства для кода */
code {
    /* Фоновый цвет для кода */
    background-color: #E0E0E0;
    /* Шрифт для кода */
    font-family: Courier New, monospace;
    /* Размер шрифта для кода */
    font-size: 14px;
}

/* Свойства для ссылок */
a {
    /* Цвет ссылок */
    color: #0066CC;
    /* Подчеркивание ссылок */
    text-decoration: none;
}

/* Свойства для ссылок при наведении курсора */
a:hover {
    /* Подчеркивание ссылок при наведении */
    text-decoration: underline;
}